@import "tailwindcss";

body {
  margin: 0;
  overflow: hidden;
  background-color: #001524;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
